<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>AIStudyHub</display-name>
    <!-- metadata-complete="false" => Tomcat will read @WebServlet, @MultipartConfig annotations -->
    <servlet>
        <servlet-name>SystemConfigController</servlet-name>
        <servlet-class>Controller.SystemConfigController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemConfigController</servlet-name>
        <url-pattern>/admin/system-config</url-pattern>
    </servlet-mapping>
    <session-config>
        <!-- Session timeout: 30 minutes -->
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
